<div class="spinner-border text-info" role="status" 
    style="
    border: 16px solid silver;
    border-top: 16px solid #337ab7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 55%;
    position: absolute;">
  
</div>